
            <legend>Hall Information</legend>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name"  placeholder="Enter hall name" value="<%= hall.name || ''  %>" required>
            </div>
            
            <div class="form-group">
                <label for="type">Type</label>
                <% const types = ["Standard", "VIP", "IMAX"] %>
                <select name="type" id="type" required>
                    <option value="" disabled <%= !hall.type ? "selected" : "" %>>
                        Select a hall type
                    </option>
                    <% types.forEach(type => { %>
                        <option 
                            value="<%= type  %>"
                            <%= (hall.type == type)? "selected" : ""  %>
                        ><%= type  %></option>

                    <%})%>
                </select>
            </div>


            <div class="form-group">
                <label for="numberOfRows">Number of rows</label>
                <input type="Number" name="numberOfRows" id="numberOfRows" min="1" max="20" placeholder="e.g. 8" required>
            </div>





