<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies | MTBS</title>
    <%- include('../partials/head') %>
    <script src=""></script>
</head>
<body>
    <%- include('../partials/navbar') %>
    <header class="page-header">
        <div class="page-heading">
            <h1>Movies</h1>
            <p>Browse our collection of movies and find your next favorite</p>
        </div>
        <div class="page-actions">
            <nav class="page-navigation">
               <a href="/movies?status=now-showing" class="<%= selectedStatus === 'now-showing' ? 'selected-action' : '' %>" >Now Showing</a>
               <a href="/movies?status=coming-soon" class="<%= selectedStatus === 'coming-soon' ? 'selected-action' : '' %>">Coming Soon</a> 
            </nav>
        </div>
    </header>
    
    <main>

        <section class="content">
            <div class="admin-actions line-breaker">
                <% if(user && user.isAdmin){ %>
                    <a href="/movies/new" class="primary-btn">+ Add Movie</a>
                <% } %>
            </div>
            <div class="movie-grid">
                <% movies.forEach(movie => { %>
                    <%- include('./partials/movie-card', { movie }) %>
                <% }) %>
            </div>   
         </section>     


    </main>

    
</body>
</html>