<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    <main>
        <section class="content">

            <div id="movie-details-container">
                <a href="/movies" class="primary-color" id="goback-btn">⮜ Back to Movies</a>
    
                <% const durationHours = Math.floor(movie.duration / 60); %>
                <% const durationMinutes = movie.duration % 60; %>
    
                <section id="movie-overview">
                    <img id="movie-poster" src="<%= movie.posterUrl %>" alt="<%= movie.title %> Poster">
                    <div id="movie-details">
                        <div class="movie-header">
                            
                            <h1 id="movie-title"><span><%= movie.title  %></span> 
                                <span 
                                    class="movie-status-badge
                                    <%= (movie.status === 'Now Showing')? 'now-showing':'coming-soon' %>"
                                >
                                    <%= movie.status  %>
                            </span>
                            </h1>
                             <p id="movie-meta">
                                <span><%= movie.ageRating  %></span> |
                                <span>
                                    <% if(durationHours){ %>
                                        <%= durationHours+'h' %>     
                                    <% } %>
                                    <% if(durationMinutes){ %>
                                        <%= durationMinutes+'m' %>
                                    <% } %>
                                </span>|
                                <span><%= movie.language %></span> |
                                <span> 
                                    <%= movie.releaseDate.toLocaleDateString('en-US',{month: "short", day: "numeric", year:"numeric" })  %>
                                </span>              
                            </p>
                            <div class="genre-container">
                                <% movie.genre.forEach(genre => { %>
                                    <span class="movie-genre-badge"><%= genre.name  %></span>
                                    <% }); %>
                            </div>
                            <div id="movie-description">
                                <h4>About the Movie</h4>
                                <p><%= movie.description  %></p>
                            </div>
    
                        </div>
                            <div id="control-btns">
                            <a href="<%=movie.trailerUrl%>" class="primary-btn" target="_blank">▶ Watch Trailer</a>
                            <% if(user && user.isAdmin){ %>
                                <a href="/movies/<%= movie._id  %>/edit" class="btn secondary-btn ">✎ Edit</a>
                                <form method="post" action="/movies/<%= movie._id  %>?_method=DELETE">
                                    <button class="btn delete-btn" >🗑 Delete</button>
                                </form>
                            <% } %>
                        </div>
    
                    </div>
                </section>
            </div>
            <% if(movie.status == "Now Showing" || user?.isAdmin) { %>
                <section class=" page-header page-section card">
                    <div class="content showtime-section">
                        <div class="row-container showtime-section-header">
                            <h1 id="showtimes">Showtimes</h1>
                            <% if(user?.isAdmin) {%>
                                <a href="/showtimes/<%= movie._id  %>" class="primary-btn btn">Add Showtime</a>
                            <% } %>
                        </div>
                    </div>

                    <%- include('partials/showtime-date-bar.ejs') %>
                    <%- include('partials/showtimes-container.ejs') %>
                    


                </section>
            <% } %>
        </section>



    </main>

    
</body>
</html>