<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configure Hall Rows | MTBS</title>
        <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>

    <main>

        <section class="content card-container">
            <a href="/halls" class="primary-color" id="goback-btn"> ⮜ Back to halls</a>
            <div class="page-header form-page-header">
                <div class="page-heading form-page-header">
                    <h1>Configure Rows</h1>
                    <p>Set the number of seats and seat type for each row.</p>        
                    <div class="hall-summary">
                        <span>Summary: </span>
                        <span><strong>Hall:</strong> <%= name %></span>, 
                        <span><strong>Type:</strong> <%= type %></span>, 
                        <span><strong>Rows:</strong> <%= numberOfRows %></span>
                    </div>  
                </div>
            </div>
            <form method="POST" action="/halls">
                <div id="form-container">

                    <section class="form-section" id="basic-info-section">
                        <fieldset>
                            <input type="hidden" name="name" id="name" value="<%= name %>">
                            <input type="hidden" name="type" id="type" value="<%= type %>">


                        <%- include('./partials/rows-form', {hall:{}, numberOfRows}) %>

                        <section class="form-actions">
                            <button type="submit" class="primary-btn btn">Create hall</button>
                            <a href="/halls" class="secondary-btn btn">Cancel</a>
                        </section>
                    </fieldset>
                </section>
            </div>
        

            </form>

        </section>

    </main>
    
</body>
</html>