<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/head') %>

</head>
<body>
    <%- include('../partials/navbar') %>

    <!-- Page Header -->
     
    <main>

        <section class="content card-container">
            <a href="/halls" class="primary-color" id="goback-btn"> ⮜ Back to halls</a>
            
            <div class="page-header">
                <div class="page-heading">
                    <h1>Update Hall</h1>
                    <p>Edit the number of seats and seat type for each row.</p>
                    <div class="hall-summary">
                        <span>Summary: </span>
                        <span><strong>Hall:</strong> <%= hall.name %></span>, 
                        <span><strong>Type:</strong> <%= hall.type %></span>, 
                        <span><strong>Rows:</strong> <%= hall.rows.length %></span>
                    </div>  
                </div>
            </div>
            <form method="POST" action="/halls/<%= hall._id  %>?_method=PUT">
                 <div id="form-container">
                     <section class="form-section" id="basic-info-section">
                         <fieldset>

                            <%- include('./partials/rows-form', {hall, numberOfRows: hall.rows.length }) %>


                            <section class="form-actions">
                                <a href="/halls" class="secondary-btn btn">Cancel</a>
                                <button type="submit" class="primary-btn btn">Update configuration</button>
                            </section>

                        </fieldset>
                    </section>
                </div>
            </form>

        </section>

    </main>
    
</body>
</html>